@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url('/assets/svg/background.svg') no-repeat center center;
    background-size: cover;
    position: relative;
    scroll-behavior: smooth;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.72);
    z-index: -1;
}



@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animate-gradient-bg {
  background-size: 200% 200%;
  animation: moveGradient 3s ease infinite;
}

.hamburger {
    position: relative;
    width: 24px;
    height: 16px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #333;
    margin-bottom: 4px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(4px, 4px);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
}

.hero {
    position: relative;
    width: 100%;

    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/assets/general/background.jpg") center/cover no-repeat;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.67);
    z-index: 0;
}

.menu {
    @media (max-width: 1024px) {
        display: none;
    }
    @media (max-width: 780px) {
        display: block;
    }
}

.divide-y {
    z-index: 1000;
}

.stroke-text {
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-family: "Sen", sans-serif;
    font-weight: bolder;
}

.bg-text {
    -webkit-text-stroke: 0.3px white;
    font-family: "Sen", sans-serif;
    font-size: 2.4rem;
    font-weight: 800;
    @media (max-width: 1300px) {
        font-size: 2.3rem;
    }
    @media (max-width: 500px) {
        font-size: 2rem;
    }
}

.reliable-text {
    @media (max-width: 1300px) {
        font-size: 2.4rem;
    }
}

.testimonial-swiper .swiper-slide {
    transform: scale(0.95);
}

.testimonial-swiper .swiper-slide:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    z-index: 1;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.testimonial-swiper .swiper-slide-active {
    opacity: 1;
    z-index: 999;
    transform: scale(1)
}

.testimonial-swiper .swiper-slide-active:before {
    opacity: 0;
}